
  <div class="container-fluid">
    
      <!-- header -->
      <%= render 'layouts/header' %>
      <!-- header end -->
      
      
      <!-- parallax main container -->
    <div class="row bgimg-1 flex fullscreen"  id="home">
      <div class="caption">
        <span class="large-font">Ivision+Solutions</span>
        <span class="border" id="text-change">Business Professional</span>
        <br>
        <a href="#intro" class="border1 medium-font" data-scroll>OUR INTRO</a>
      </div>
    </div>
      <!-- parallax main container end-->
      
      
      <!-- Our intro container container -->
    <%= render 'intro' %>
    <!-- Our intro container container -->
    
    
    <!-- profile container -->
   <%= render 'profile' %>
    <!-- profile container end-->
    
    <!-- opportunity container -->
    <%= render 'opportunities' %>
     <!-- opportunity container end --> 
    
    <!-- Our team container -->
    <%= render 'team' %>
    <!-- Our team container end-->
    
    <!-- Testimonial container -->
    <%= render 'testimonials' %>
     <!-- Testimonial container end-->
    
     <!-- Services container -->
	<div class="service-types row">
    <h2 class="col-xs-offset-5">Services</h2>
    <p class="service-detail">
      We offer a wide range of professional services to companies looking to invest in technology solutions to enhance their business. The focus in all our services is on the value add activities that is most suitable to your business. Technology Consulting Technology is confusing. We will help you determine what you need and what you should avoid when making decisions regarding technology Search Engine Optimization In addition to optimizing your website for improved search ranking, we will guide you on how to develop your digital marketig strategy Mail Need a simple solution to business mail, contact and calendar management? We have cloud solutions to manage your business critical operations Data Analytics Just too much data that does not make sense? Let us work with it to provide you with information that can be used to improve your business Process Engineering You cannot keep doing the same thing and expect different results. Let us look at what you do, and let you know what you should not do Support We will ensure that your technology initiatives are well supported after implementation.<div id="contact"></div>
    </p>
    <div class="tab">
      <button class="tablinks col-xs-3" onclick="openCity(event, 'Software')">Software</button>
      <button class="tablinks col-xs-3" onclick="openCity(event, 'Web')">Web Solution</button>
      <button class="tablinks col-xs-3" onclick="openCity(event, 'Business')">Business</button>
      <button class="tablinks col-xs-3" onclick="openCity(event, 'Data')">Data Analytics</button>
    </div>
  </div>
<div id="Software" class="tabcontent">
  <p><span class="odd-colour">Software --</span> Does your business need critical applications that will help you focus on more client facing value added services? If yes, then Ivision Solutions offers robust and customized software solutions tailored to your needs. Just like our web solutions team, we have experienced analysts and developers both onshore and offshore to provide round the clock services to develop effective software solutions for your business. The Software solutions team partners with the business analyst consultants to gather requirements and assess the project to ensure that your objectives are met. We spend a significant amount of time to ensure the requirements are aligned with your objectives. After development we go through a thorough Quality Assurance process to ensure the solution is in line with the requirements and thus ensure the solution objectives are met. Our Software Solutions Include: <br>
      <ul style="list-style-type: upper-roman;">
          <li><span class="odd-colour">Customer Relationship Management </span></li>
        <li><span class="odd-colour">Solutions Web Based Applications</span> </li>
        <li><span class="odd-colour">eCommerce</span></li>
        <li><span class="odd-colour">Portals</span></li>
       <li><span class="odd-colour">Access or Excel based applications using VBA</span></li>
    </ul>
    </p>
</div>

<div id="Web" class="tabcontent">
    <p><span class="odd-colour">Web Solution --  </span>Our Web Solutions division offers customized and robust web solutions to help your business maintain an effective presence on the internet - Internally and Externally We have experienced analysts and developers both onshore and offshore to provide round the clock services to help get your business on the web faster. Our Web Solutions Include:<br> 
      <ul style="list-style-type: upper-roman;"> 
          <li><span class="odd-colour">Corporate web identity</span></li>
       <li> <span class="odd-colour">Search Engine Optimization (SEO)</span></li>
       <li> <span class="odd-colour">eCommerce</span></li>
       <li> <span class="odd-colour">Content Management Systems such as Joomla, WordPress</span></li>
        <li><span class="odd-colour">Web advisory services </span></li>
       <li> <span class="odd-colour">Secure hosting and domain registrations</span>
        <li><span class="odd-colour">Cloud solutions</span></li>
    </p> 
</div>

<div id="Business" class="tabcontent">
  <p><span  class="odd-colour">Business Analysis --</span> We offer a wide range of professional business analysis services to companies looking to invest in technology solutions to enhance their business. We take traditional business analysis a step further, to focus on the value add activities to determine processes and infrastructure changes that is most suitable to your business. Our professional business analysis services includes: <br>
      <ul style="list-style-type: upper-roman;">
        <li><span class="odd-colour">Process Engineering</span>-> We specialize in engineering and re-engineering business processes, using best practices to optimize your business operations.

Process engineering and assessment is necessary when you implement new technology or implement an organizational change affecting business operations. We come in to help you identify a process flow that is efficient, reducing waste and effective, increasing profitability.

Our approach to process engineering is based on industry best practices. We are involved from the start, interacting with key stakeholders, keeping in mind the change management challenges that process changes may bring.

Remember, inefficient processes costs you every year - let us perform a detailed assessment on your current processes.</li><br>
        <li><span class="odd-colour">Requirements Analysis</span>-> Thinking about implementing a new website or solution? Remember that requirements analysis is a critical success factor to the success of your project.

We don't gather requirements, we recommend best practices, analyze your needs and create deliverables that your technology vendors can use a solution that is customized to your business needs.

Spending time during the requirements analysis phase will not only help build a better solution, but help you identify and address gaps that you may not have thought of when deciding on a solution.

Our approach to requirements analysis is holistic, we look at the organization as a whole, the culture and people when elicitating requirements. This is because requirements are not an IT only function, but a change that can potentially affect the way your organization does business.

Remember that 75% of new technology implementations fail due to lack of planning and poor requirements - Let us help you be part of the 25%.</li><br>
        <li><span class="odd-colour">Impact Analysis </span>-> Thinking about implementing a new solution? Let us help you identify any effect on your existing systems to ensure there is no negative impact determinant to your business operations.

Whether you are upgrading your MS Exchange environment or installing a new application, we will ensure that your existing systems are mapped out to outline any integration points with the new application, and analyze potential impact.

We also offer impact analysis on systems based on organization changes. For example, if you are restructuring your organization, your HR system will need to be modified to accommodate the change. We come in and provide you with a detailed impact assessment that will result in a plan to address all changes required for the organizational change - Don't get blindsided by not performing a complete assessment prior to implementing a change.</li><br>
        <li><span class="odd-colour">Change Management</span>-> Complementary to our services, we consider change management to be a critical piece in implementing new technology and process improvements.

Our approach is to involve all stakeholders affected by the change right from the beginning. Change management for us starts from engagement Day 1 and goes on beyond implementation and support.

We ensure that we get buy in from key stakeholders in the organization by directly relating process and technology changes to their daily duties, highlighting factors that will make their jobs easier.</li> <br>
        <li><span class="odd-colour">Vendor Management</span>-> endor relationship management is an importance factor in successful technology implementations - it is important that vendor requests as well as organization needs are communicated effectively. We make this effective communication possible by helping you articulate your needs that will meet vendor requirements.

We will be the bridge between your organization and your vendor.</li>
    </ul>
    </p>
</div>
<div id="Data" class="tabcontent">
    <p><span class="odd-colour" >Data Analytics -- </span>In today's world, organizations have a huge amount of data. Using this data to make business decisions increases the likelihood of your business success. However, most organizations either don't know how to use the data or consider the data useless for decision making. Ivision Solutions uses various data analysis techniques such as regression analysis to analyze your data and provide you with insights that will help you make better decisions. Our Data Analytics Services includes:<br> 
      <ul style="list-style-type: upper-roman;">
          <li><span class="odd-colour"> Data modeling - </span>building models for analysis</li>
      <li><span class="odd-colour"> Data querying - </span>using SQL and other querying technologies</li>
      <li><span class="odd-colour"> Data mapping - </span>for migration projects </li>
      <li><span class="odd-colour"> Data forensics - </span>identifying trends and insights in data</li>
    </ul>
</div>
<!-- Services container end-->

<!-- Contacts container -->
    <%= render 'contact_us' %>
<!-- Contacts container end-->
<!-- Footer partial -->
  <%= render 'layouts/footer' %>

  
  <script>
    smoothScroll.init();
  </script>
